.welcome-section{
    background: url("../images/content/sec-1-bg.jpg") top center / cover no-repeat;
}
.feedback-section{
    background: url("../images/content/sec-2-bg.jpg") top center / cover no-repeat;
}