.btn{
    padding: 30px 100px;
    outline: none;
    border: none;
    border-radius: 40px 5px 40px 5px ;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.btn--grad{
    background: linear-gradient(to left, $grad-color-1, $grad-color-2);
}