.message__row{
    display: flex;
    width: 60%;

}
.message__row:not(:last-child){
    margin-bottom: 40px;
}
.message__input-box{
    flex: 1;

}
.message__input-box:not(:last-child){
    margin-right: 60px;
}