.scroll-down-btns{
    display: flex;
    align-items: center;
}
.scroll-down-btns{
    @include linkHover(currentColor);
}
.scroll-down-btns:hover .scroll-down-btns__icon{
    animation: jump 1.5s infinite;
}

.scroll-down-btns__icon{
    width: 30px;
    height: 30px;
    fill: currentColor;
}

