.scroll{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    text-decoration: none;
    &__text{
        font-size: 18px;
        font-weight: 600;
        color: $text-color;
        margin-right: 20px;
    }
    &__icon{
        width: 30px;
        height: 30px;
        fill: $text-color;
    }
}