.tags{
    display: flex;
}
.tags__item{
    background-color: rgba($blue-color, .2);
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 600;
    opacity: .7;
    @include phones{
        font-size: 13px;
    }
}
.tags__item:not(:last-child){
    margin-right: 15px;
}