.main-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    &__small{
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        opacity: .4;
    }
    &__large{
        font-size: 72px;
        font-weight: 800;
        line-height: 60px;
    }
}
.second-heading{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}