-
    var mainNav = [
        {
            name:'Главная',
            link: '#'
        },
        {
            name:'Обо мне',
            link: '#'
        },
        {
            name:'Навыки',
            link: '#'
        },
        {
            name:'Работы',
            link: '#'
        },
        {
            name:'Отзывы',
            link: '#'
        },
        {
            name:'Связаться',
            link: '#'
        }
    ]
-
    var socials = [
        {
            icon: 'insta',
            link: 'https://www.instagram.com/neveroffdesign/'
        },
        {
            icon: 'vk',
            link: 'https://vk.com/acefix'
        },
        {
            icon: 'github',
            link: 'https://github.com/NeveroffDev'
        }
    ]
nav.main-nav
    a(href='./').main-nav__logo АН
    ul.main-nav__list
        each item in mainNav
            li.main-nav__item
                a.main-nav__link(href= item.link)= item.name
    ul.socials
        each item in socials
            li.socials__item
                a.socials__link(href= item.link)
                    +icon(`${item.icon}`, `socials__icon social__icon--${item.icon}`)