.section-first
    .container
        .section-first__main
            include navigation
            include main-heading
            include scroll
        .section-first__bio
            include user-desc