.section-skills
    .section-skills__left
        .section-skills__image-box
            +image('content/bagpack.png', 'section-skills__image')
    .section-skills__right
        .section-skills__box
            h2.second-heading.mb-60 Чем я могу быть полезен вам
            .section-skills__about Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .section-skills__skills
            include skills