-
    let skills =
    {
        frontend:[
            {
            percent: 80,
            name: 'HTML5'
            },
            {
                percent: 80,
                name: 'CSS3'
            },
            {
                percent: 40,
                name: 'Javascript'
            },
            {
                percent: 95,
                name: 'Jquery'
            }
        ],
        workflow:[
            {
                percent: 80,
                name: 'GIT'
            },
            {
                percent: 80,
                name: 'Terminal'
            },
            {
                percent: 40,
                name: 'Gulp'
            },
            {
                percent: 50,
                name: 'Webpack'
            }
        ]
    }
.skills
    .skills__box
        .skills__heading Front-end
        ul.skills__list
            each skill in skills.frontend
                li.skills__item
                    +skillRound(skill.percent)
                    .skills__name= skill.name
    .skills__box
        .skills__heading Workflow
        ul.skills__list
            each skill in skills.workflow
                li.skills__item
                    +skillRound(skill.percent)
                    .skills__name= skill.name

