.user-desc
    .user-desc__left
        .user-desc__avatar
            +image('content/user.jpg', 'user-desc__photo')
        .user-desc__bio
            .user-desc__labels
                .user-desc__label Проживаю:
                .user-desc__label Возраст:
                .user-desc__label Родился:
            .user-desc__values
                .user-desc__value Якутия
                .user-desc__value 32 года
                .user-desc__value 25 мая 1987
    .user-desc__right
        .user-desc__about
            .user-desc__hello Привет, меня зовут
            .user-desc__name Антон Неверов
            .user-desc__ilike Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
        .user-desc__site Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
